# Compiled Object files
*.slo
*.os
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.dblite
*.cmake
Makefile
CMakeFiles
CMakeCache.txt

# output & generated stuff
bin
lib
gen
stage
glsl_compiler/src/glslang/MachineIndependent/Gen_glslang.cpp
glsl_compiler/src/glslang/MachineIndependent/Gen_glslang_tab.cpp
glsl_compiler/src/glslang/MachineIndependent/glslang.output
glsl_compiler/src/glslang/MachineIndependent/glslang_tab.h

# QT stuff
moc_*.cxx
moc_*.cpp
ui_*.h
qrc_*.cxx
*.qrc.depends

*.bak

glsldb/glenumerants/glxenumerants.h

glsldb/glenumerants/enumerants.h

glsldb/DebugLib/functionList.c

glsldb/DebugLib/replayFunction.c

glsldb/DebugLib/getProcAddressHook.inc

glsldb/DebugLib/functionsAllowedInBeginEnd.pl

glsldb/DebugLib/functionPointerTypes.inc

glsldb/DebugLib/functionHooks.inc

glsldb/.DS_Store

.DS_Store
